		.nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 40px !important; }
		.nav-glyphish-example .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
		#home .ui-icon { background:  url(glyphish-icons/53-house.png) 50% 50% no-repeat; background-size: 24px 22px; }
		#key .ui-icon { background: url(glyphish-icons/30-key.png) 50% 50% no-repeat; background-size: 12px 26px; }
		#email .ui-icon { background:  url(glyphish-icons/18-envelope.png) 50% 50% no-repeat; background-size: 24px 16px;  }
		#login .ui-icon { background:  url(glyphish-icons/30-key.png) 50% 50% no-repeat;  background-size: 12px 26px; }
		#coffee .ui-icon { background:  url(glyphish-icons/34-coffee.png) 50% 50% no-repeat;  background-size: 24px 26px; }
		#marker .ui-icon { background:  url(glyphish-icons/07-map-marker.png) 50% 50% no-repeat;  background-size: 16px 26px; }
		#camera .ui-icon { background:  url(glyphish-icons/86-camera.png) 50% 50% no-repeat;  background-size: 24px 18px; }
		#signpost .ui-icon { background:  url(glyphish-icons/60-signpost.png) 50% 50% no-repeat;  background-size: 22px 28px; }
		#map .ui-icon { background:  url(glyphish-icons/103-map.png) 50% 50% no-repeat;  background-size: 26px 21px; }
		#stream .ui-icon { background:  url(glyphish-icons/stream-icon.png) 50% 50% no-repeat;  background-size: 24px 24px; }
		#check .ui-icon { background:  url(glyphish-icons/check.png) 50% 50% no-repeat;  background-size: 26px 26px; }
		#redo .ui-icon { background:  url(glyphish-icons/redo.png) 50% 50% no-repeat;  background-size: 24px 24px; }
